@using Entities.Models
@model IEnumerable<Quiz>
@{
    ViewData["Title"] = "ListOfQuizzes";
    Layout = "_Dashboard";
}

<div class="main-div">
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="row">Quiz Name</th>
                    <th scope="row">Description</th>
                    <th scope="row">Total Degree</th>
                    <th scope="row">Passing Degree</th>
                    <th scope="row">Duration</th>
                    <th scope="row">Created On</th>
                    <th scope="row">Question Numbers</th>
                    <th scope="row">SessionID</th>
                    <th scope="row">IsPrivate</th>
                    <th scope="row">IsEnabled</th>
                    <th scope="row">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.TotalDegree</td>
                        <td>@item.PassingScore</td>
                        <td>@item.Duration</td>
                        <td>@item.CreatedOn?.ToString("dd MMM yyyy")</td>
                        <td>@item.QuestionNumbers</td>
                        <td>@item.SessionID</td>
                        <td>
                            <input type="checkbox" class="toggle-private" data-id="@item.Id" @(item.IsPrivate ? "checked" : "") />
                        </td>
                        <td>
                            <input type="checkbox" class="toggle-enabled" data-id="@item.Id" @(item.IsEnabled ? "checked" : "") />
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Quiz" asp-route-id="@item.Id">Details</a>|
                            <a asp-action="Edit" asp-controller="Quiz" asp-route-id="@item.Id">Edit</a>|
                            <a asp-action="Delete" asp-controller="Quiz" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.toggle-private').change(function () {
                var quizId = $(this).data('id');
                var isPrivate = $(this).is(':checked');
                $.ajax({
                    url: '/Quiz/TogglePrivate',
                    type: 'POST',
                    data: {
                        id: quizId,
                        isPrivate: isPrivate
                    },
                    success: function (response) {
                        console.log('Private status updated');
                    },
                    error: function (xhr, status, error) {
                        console.error('Error updating private status');
                    }
                });
            });

            $('.toggle-enabled').change(function () {
                var quizId = $(this).data('id');
                var isEnabled = $(this).is(':checked');
                $.ajax({
                    url: '/Quiz/ToggleEnabled',
                    type: 'POST',
                    data: {
                        id: quizId,
                        isEnabled: isEnabled
                    },
                    success: function (response) {
                        console.log('Enabled status updated');
                    },
                    error: function (xhr, status, error) {
                        console.error('Error updating enabled status');
                    }
                });
            });
        });
    </script>
}

<style>
    .table {
        width: 100%;
        margin-bottom: 20px;
    }
    .main-div{
        margin-top:-20px;
    }

        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }

    .btn {
        margin: 0 2px;
    }

    .thead-dark th {
        color: #fff;
    }
</style>
