@using Entities.Models
@model List<Section>
@{
    ViewData["Title"] = "Sections";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/usersections.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_Nav")
    <div class="container-fluid">
        <div class="main-content" id="main-content">
            <h3>Section Details</h3>
            <div id="section-details">
                <p>Select a section to view its details and materials.</p>
            </div>
        </div>
        <div class="sidebar">
            <h2>Enrolled Sections</h2>
            @foreach (var item in Model)
            {
                <div class="section-item" onclick="loadSection('@item.Id')">
                    <h5>@item.Name</h5>
                </div>
            }
            <a asp-action="Enroll" asp-controller="Users" class="enroll-link">ENROLL+</a>
        </div>
    </div>
    <script>
        function loadSection(sectionId) {
            $.ajax({
                url: '@Url.Action("GetSectionDetails", "Section")',
                type: 'GET',
                data: { sectionId: sectionId },
                success: function (data) {
                    var sectionDetails = $('#section-details');
                    sectionDetails.empty();
                    sectionDetails.append('<h1> Section Name : ' + data.sectionName + '</h1>');
                    $.each(data.materials, function (index, material) {
                        var card = $('<div class="update-card"></div>');
                        card.append('<h5> Title : ' + material.title + '</h5>');
                        card.append('<p> Description : ' + material.description + '</p>');

                        if (material.filePath) {
                            var encodedFilePath = encodeURIComponent(material.filePath);
                            var downloadUrl = '@Url.Action("DownloadFile", "Section")' + '?filePath=' + encodedFilePath;
                            var fileElement = '<div class="material-file"><a href="' + downloadUrl + '">Download File</a></div>';

                            card.append(fileElement);
                        }
   
                        sectionDetails.append(card);
                    });
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        }
    </script>
</body>
</html>
